

<div class="container">
   
    <button (click)="agregar()" type="button" class="btn btn-primary my-5" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Agregar nuevo estudiante</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Datos de estudiante</h1>
             
            </div>
                <form class="mt-2" [formGroup]="estudianteForm" (ngSubmit)="agregarActualizar()">
                    <div class="d-flex flex-column align-items-center">
                        <div class="my-2">
                            Seleccione un curso:
                            <select formControlName="curso" class="form-select" aria-label="Default select example" >
                                <option value="unity 3d">Unity 3D</option>
                                <option value="fisei">FISEI</option>
                                <option value="mc">M.C</option>
                              </select>
                        </div>
                        <div class="my-2">
                            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="my-2">
                            <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido">
                        </div>
                        <div class="my-2">
                            <input type="text" formControlName="cedula" class="form-control" placeholder="Cedula">
                        </div>
                        <div class="my-2">
                            <input type="email" formControlName="correo" class="form-control" placeholder="Correo">
                        </div>
                        <div class="my-2">
                            <input type="text" formControlName="telefono" class="form-control" placeholder="Telefono">
                        </div>
                        Tipo de usuario:
                        <div class="form-check">
                            <input formControlName="descripcion" class="form-check-input" value="estudiante" type="radio" name="descripcion" id="flexRadioDefault1" checked>
                            <label class="form-check-label" for="flexRadioDefault1" >
                              Estudiante
                            </label>
                          </div>
                          <div class="form-check">
                            <input formControlName="descripcion"  class="form-check-input" value="docente" type="radio" name="descripcion" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                              Docente
                            </label>
                          </div>
                          <div class="form-check">
                            <input formControlName="descripcion"  class="form-check-input" value="externo" type="radio" name="descripcion" id="flexRadioDefault3" >
                            <label class="form-check-label" for="flexRadioDefault3">
                              Externo
                            </label>
                          </div>

                    </div>
                    <button class="btn btn-success my-3" type="submit" value="1" style="width: 100%;" data-bs-dismiss="modal">Guardar</button>
                </form>
          </div>
        </div>
      </div>

    
    
    <table class="table table-dark">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
        <th scope="col">Cedula</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody >
    <tr *ngFor="let estudiante of estudiantes; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{estudiante.Curso}}</td>
        <td>{{estudiante.Descripcion}}</td>
        <td>{{estudiante.Nombre}}</td>
        <td>{{estudiante.Apellido}}</td>
        <td>{{estudiante.Cedula}}</td>
        <td>{{estudiante.Correo}}</td>
        <td>{{estudiante.Telefono}}</td>
        <td style="width: 10%">
            <button (click)="editar(estudiante)" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg></button>
            <button (click)="eliminar(estudiante.Id)"  class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
            </button>
        </td>
        
    </tr>
</tbody>
</table>
</div>